<!--ขยาย Templates มาจาก layout.html โดยนำ Docutment meta tag Bootstraps ในไฟล์ layout.htmlมาด้วยทั้งหมด-->
{% extends 'layout.html' %}

<!--การแสดงผลทั้งหมดใน Block นี้ จะปรากฏอยู่แค่ในหน้านี้เท่านั้น แต่ Templates ทั้งหมดจะถูกดึงมาจาก Layout.html -->
{% block content %}
<h2>การแสดงค่า pm 2.5</h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ลำดับ</th>
        <th scope="col">ค่า PM 2.5</th>
        <th scope="col">เวลา</th>  
      </tr>
    </thead>
    <tbody>
        {% for pm in pm %}
      <tr>
        <th scope="row">{{pm.id}}</th>
        <td>{{pm.pm_value}}</td>
        <td>{{pm.pm_date}}</td>  
        </tr>
        <tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock  %}

