{% extends 'layout.html' %}

{% block content %}

    <!--ดึงค่ามาจากหน้า View--> 
    <h1> {{ name }} </h1>

    <!--ดึงค่ามาจากหน้า View--> 
    <h2><p>โดย : {{ author }}</p></h2>


    <!--การใช้ Loop  -->
    <ul>
        {% for tag in tags %}
        <h2><li> #{{ tag }}</li></h2>
        {% endfor %}
    </ul>
    <!--การใช้ Loop  -->


    <!--การใช้  IF -->
    <h2>ความนิยม</h2>
    {% if rating > 3%}
    <h3>ดีมาก</h3>
    {% else %}
    <h3>ไม่ได้รับความนิยม</h3>
    {% endif %}
    <!--การใช้  IF -->

{% endblock  %}

